@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
.sort-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sort-con .sort-btn {
  padding: 5px;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

.showMenu {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0px;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 160ms;
          animation-duration: 160ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  background-color: white;
  padding: 20px;
}

.showMenu .menu-link {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

.showMenu .head-link {
  font-size: 2em;
  font-weight: "semi-bold";
  color: #D8610B;
  text-align: center;
  color: #D8610B;
}

.showMenu .active-link {
  background-color: #d8600b38;
  border-radius: 4px;
  color: #A54601;
  width: 100%;
  text-align: center;
}

.hidMenu {
  display: none;
}

@-webkit-keyframes show {
  from {
    margin-top: -300px;
  }
  to {
    margin-top: 0px;
  }
}

@keyframes show {
  from {
    margin-top: -300px;
  }
  to {
    margin-top: 0px;
  }
}

.book-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px 5px 45px 20px;
  font-family: "Open Sans", sans-serif;
  margin: 0px 0px 50px 0px;
  color: rgba(0, 0, 0, 0.6);
}

.book-box .book-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -5px;
}

.book-box .book-title {
  font-size: 35px;
  font-weight: bold;
}

.book-box .book-author {
  margin-top: -0.5em;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
}

.more-con {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.more-con .dot-con {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.more-con .dot-con .dots {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2px;
}

.more-con .dot-con:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.more-box-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  right: 6%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: white;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-name: more-box-animate;
          animation-name: more-box-animate;
}

.more-box-show p {
  color: #D8610B;
  margin-bottom: -2px;
  font-weight: bold;
}

.more-box-show .more-btns {
  font-family: "Roboto", sans-serif;
  width: 100px;
  margin: 2px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.more-box-show .btn-add {
  background-color: #27AE60;
}

.more-box-show .btn-add:hover {
  background-color: #1f8a4b;
}

.more-box-show .btn-del {
  background-color: #EB5757;
}

.more-box-show .btn-del:hover {
  background-color: #8d3333;
}

.more-box-show .btn-ret {
  background-color: #d4722c;
}

.more-box-show .btn-ret:hover {
  background-color: #A54601;
}

@-webkit-keyframes more-box-animate {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes more-box-animate {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.more-box-hide {
  display: none;
}

.more-box-hide .p {
  display: hide;
}

@media (max-width: 768px) {
  .add-header p {
    font-size: 1.7rem;
  }
  form {
    width: 90vw;
  }
  .books-cat {
    display: none;
  }
  .drop-cat {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    border: none;
    background-color: #D8610B;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  .drop-cat option {
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
  }
  .menu-btn {
    -ms-grid-column-align: end;
        justify-self: end;
    width: 70px;
    cursor: pointer;
    margin-right: 10px;
  }
  .menu-btn .menu-bars {
    border-radius: 50px;
    background-color: #D8610B;
    height: 12px;
    margin: 3px;
    width: 90%;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .nav-con {
    display: none;
  }
  .main-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 100px;
  }
  .main-con .chart-con {
    width: 80vw;
    height: auto;
    padding: 12px;
    margin: 20px 0px 20px 0px;
  }
  .main-con-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    margin-top: 100px;
  }
  .main-con-p .patron-con {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-con-p .patron-con .user-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 20px 5px 20px 5px;
    padding: 20px 15px 20px 15px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 95vw;
  }
  .main-con-p .patron-con .user-box .editor {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-con-p .patron-con .user-box .editor img {
    max-width: 35px;
    height: auto;
    cursor: pointer;
  }
  .main-con-p .patron-con .user-box .editor img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .main-con-p .patron-con .user-box .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.8);
  }
  .main-con-p .patron-con .user-box .user .circle-con .prof-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-radius: 100%;
    width: 100px;
    height: 101px;
    font-size: 76px;
    color: white;
    background-color: seagreen;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
  }
  .main-con-p .patron-con .user-box .user .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    margin-left: 20px;
  }
  .main-con-p .patron-con .user-box .user .user-info .user-name {
    font-size: 35px;
    letter-spacing: 12px;
    font-weight: bold;
  }
  .main-con-p .patron-con .user-box .user .user-info .user-email {
    line-height: 0px;
    font-size: 20px;
    margin-bottom: 18px;
  }
  .main-con-p .patron-con .user-box .date-con {
    margin: 20px 0px 0px 0px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .add-header p {
    font-size: 2.8rem;
  }
  form {
    width: 50vw;
  }
  .books-cat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .books-cat .cat-head {
    font-size: 2em;
    font-weight: "semi-bold";
    color: #D8610B;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .books-cat .cat-item {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 1.7em;
    margin: 10px 0px 10px 0px;
    font-size: 1.2rem;
    margin: 5px;
  }
  .drop-cat {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  .nav-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 100vh;
  }
  .nav-con .menu-top {
    margin-top: 100px;
  }
  .nav-con .menu-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .nav-con .menu-con .menu-item {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 1.7em;
    margin: 10px 0px 10px 0px;
    padding-left: 0.8em;
    text-align: left;
  }
  .nav-con .menu-con .active-item {
    background-color: #d8600b38;
    border-radius: 4px;
    color: #A54601;
    width: 100%;
  }
  .nav-con .menu-con .head-item {
    font-size: 2em;
    font-weight: "semi-bold";
    color: #D8610B;
    padding-left: 0.5em;
  }
  .main-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 100px;
  }
  .main-con .chart-con {
    width: 35vw;
    height: auto;
    padding: 12px;
    margin: 0px;
  }
  .main-con-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    margin-top: 100px;
  }
  .main-con-p .patron-con {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-con-p .patron-con .user-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 20px 5px 20px 5px;
    padding: 20px 15px 20px 15px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 65vw;
  }
  .main-con-p .patron-con .user-box .editor {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-con-p .patron-con .user-box .editor img {
    max-width: 35px;
    height: auto;
    cursor: pointer;
  }
  .main-con-p .patron-con .user-box .editor img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .main-con-p .patron-con .user-box .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.8);
  }
  .main-con-p .patron-con .user-box .user .circle-con .prof-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-radius: 100%;
    width: 100px;
    height: 101px;
    font-size: 76px;
    color: white;
    background-color: seagreen;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
  }
  .main-con-p .patron-con .user-box .user .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    margin-left: 20px;
  }
  .main-con-p .patron-con .user-box .user .user-info .user-name {
    font-size: 35px;
    letter-spacing: 12px;
    font-weight: bold;
  }
  .main-con-p .patron-con .user-box .user .user-info .user-email {
    line-height: 0px;
    font-size: 20px;
    margin-bottom: 18px;
  }
  .main-con-p .patron-con .user-box .date-con {
    margin: 20px 0px 0px 0px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 280px) {
  .add-something {
    width: 98vw;
    height: auto;
  }
  .btn-group {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .btn-group button {
    width: 40vw;
    font-size: 1rem;
  }
}

.floating-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  background-color: #D8610B;
}

.floating-btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-group {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn-ok {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #D8610B;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 20px 5px 20px;
  border: 2px solid #D8610B;
  margin: 0px 2px 0px 2px;
  width: 150px;
  border-radius: 12px;
}

.btn-ok:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-cancel {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: white;
  color: #D8610B;
  padding: 5px 10px 5px 10px;
  border: 2px solid #D8610B;
  margin: 0px 2px 0px 2px;
  width: 150px;
  border-radius: 12px;
}

.btn-cancel:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.sort-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sort-con .sort-btn {
  padding: 5px;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

.book-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px 5px 45px 20px;
  font-family: "Open Sans", sans-serif;
  margin: 0px 0px 50px 0px;
  color: rgba(0, 0, 0, 0.6);
}

.book-box .book-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -5px;
}

.book-box .book-title {
  font-size: 35px;
  font-weight: bold;
}

.book-box .book-author {
  margin-top: -0.5em;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
}

.more-con {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.more-con .dot-con {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.more-con .dot-con .dots {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2px;
}

.more-con .dot-con:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.more-box-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  right: 6%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: white;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-name: more-box-animate;
          animation-name: more-box-animate;
}

.more-box-show p {
  color: #D8610B;
  margin-bottom: -2px;
  font-weight: bold;
}

.more-box-show .more-btns {
  font-family: "Roboto", sans-serif;
  width: 100px;
  margin: 2px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.more-box-show .btn-add {
  background-color: #27AE60;
}

.more-box-show .btn-add:hover {
  background-color: #1f8a4b;
}

.more-box-show .btn-del {
  background-color: #EB5757;
}

.more-box-show .btn-del:hover {
  background-color: #8d3333;
}

.more-box-show .btn-ret {
  background-color: #d4722c;
}

.more-box-show .btn-ret:hover {
  background-color: #A54601;
}

@keyframes more-box-animate {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.more-box-hide {
  display: none;
}

.more-box-hide .p {
  display: hide;
}

.black-out-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 2;
}

.black-out-hide {
  display: none;
}

.remove-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  -webkit-animation-name: removeIndex;
          animation-name: removeIndex;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

.remove-index p {
  font-size: 1rem;
}

.add-something {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  margin: 2vw;
  -webkit-animation-name: removeIndex;
          animation-name: removeIndex;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

.add-something .add-header {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-left: 20px;
}

.add-something .add-header img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 35px;
  height: auto;
  cursor: pointer;
}

.add-something .add-header img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.add-something .add-header p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #D8610B;
}

.add-something form {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.add-something form label {
  font-size: 20px;
  margin-top: 15px;
}

.add-something form .form-control {
  font-size: 1.7rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding-left: 20px;
}

.add-something form .form-v2 {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.add-something form .form-v2 .copy-con {
  margin: 5px;
}

.add-something form .form-v2 .categ-con {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.add-something form .form-v2 .categ-con select {
  font-size: 1.7rem;
}

.add-something form .form-v2 .categ-con select option {
  font-size: 25px;
}

.add-something .btn-group {
  margin: 0px 5px 0px 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@-webkit-keyframes removeIndex {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes removeIndex {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

body .nav-bar .david-logo {
  height: 65px;
  margin: 6px;
  width: 65px;
}
/*# sourceMappingURL=styles.css.map */