.btn-cancel {
  font-family: $roboto-font;
  font-size: 15px;
  background-color: white;
  color: #373737;
  padding: 5px;
  border: 2px solid #373737;
  margin: 0px 2px 0px 2px;
  border-radius: 4px;
  width: 100px;
}
.btn-cancel:hover {
  transform: scale(1.02);
  box-shadow: $shadow-box;
}
