<script>
import navbar from "./components/navs/navbar";
import sidenav from "./components/navs/sidenav";
import menuLinks from "./components/navs/menuLinks";

export default {
  name: "app",
  components: {
    navbar,
    sidenav,
    menuLinks,
  },
  data() {
    return {
      menu: false,
      active: "dashboard",
    };
  },
  methods: {
    showMenu: function () {
      return (this.menu = !this.menu);
    },
    turnActive: function (title) {
      return (this.active = title);
    },
  },
};
</script>

<template>
  <body>
    <menuLinks v-if="menu" v-bind:active="active" v-bind:showMenu="showMenu" />
    <b-container fluid style="height: 100vh">
      <sidenav v-bind:active="active" />
      <b-row class="justify-content-end">
        <router-view v-bind:turnActive="turnActive"></router-view>
      </b-row>
    </b-container>
    <navbar v-bind:showMenu="showMenu" />
  </body>
</template>

<style lang="scss">
@import "./assets/styles/_styles.scss";
</style>
