<script>
import deleteFloat from "../../floaters/deleteFloat";
import addBooks from "../../floaters/addBooks";
import borrowBook from "../../floaters/borrowBook";
import toast from "../../floaters/toast";
import returnBook from "../../floaters/returnBook.vue";
export default {
  name: "books",
  components: {
    deleteFloat,
    addBooks,
    borrowBook,
    toast,
    returnBook,
  },
  props: {
    turnActive: Function,
    view: String,
  },
  data() {
    return {
      selected: -1,
    };
  },
  methods: {
    showAdd() {
      this.selected = -1;
      return this.$store.commit("showAdd");
    },
    showUpdate(index) {
      this.selected = index;
      this.$store.commit("showAdd");
    },
    showDel(index) {
      this.selected = index;
      return $store.commit("showDel");
    },
    showBorrow(index) {
      this.selected = index;
      return $store.commit("showBorrow");
    },
    showReturn(index) {
      this.selected = index;
      return $store.commit("showReturn");
    },
  },
  computed: {
    bookList() {
      return JSON.parse(JSON.stringify(this.$store.getters["books/listBooks"]));
    },
    showToast() {
      return this.$store.getters["books/showToast"];
    },
  },
  created() {
    document.title = "Books";
    this.turnActive("books");
  },
  mounted() {
    this.$store.dispatch("books/getBooks");
  },
  beforeDestroy() {
    this.$store.commit("unSub");
  },
};
</script>

<template>
  <b-col sm="9" class="main-con-b">
    <div class="con-header">
      <h4>BOOKS</h4>
    </div>
    <div class="sort-con">
      <select name="Categories" class="sort-btn">
        <option value="1">Science and Fiction</option>
        <option value="2">Novel</option>
        <option value="3">Education</option>
        <option value="4">Crime</option>
        <option value="5">Biography</option>
      </select>
    </div>
    <div id="books-con" v-if="bookList[0]" class="books-con">
      <table>
        <thead>
          <td>Copies</td>
          <td>Name</td>
          <td>Category</td>
          <td>Author</td>
          <td>Actions</td>
        </thead>
        <tbody>
          <tr v-for="(book, index) in bookList" v-bind:key="index">
            <td>{{ book.copies }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.categories.category }}</td>
            <td>{{ book.author }}</td>
            <td class="td-actions">
              <div class="button-con">
                <img
                  v-on:click="showUpdate(index)"
                  title="Edit"
                  src="../../../assets/images/pencil_blue.png"
                />

                <img
                  v-on:click="
                    selected = index;
                    $store.commit('showReturn');
                  "
                  title="Return"
                  src="../../../assets/images/cycle_orange.png"
                />
              </div>
              <div class="button-con">
                <img
                  class="smaller"
                  v-on:click="
                    selected = index;
                    $store.commit('showBorrow');
                  "
                  v-if="book.copies > 0"
                  title="Borrow"
                  src="../../../assets/images/cycle_cyan.png"
                />
                <img
                  class="smaller"
                  v-on:click="
                    selected = index;
                    $store.commit('showDel');
                  "
                  title="Delete"
                  src="../../../assets/images/trash_peach.png"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="not-found" v-else-if="!bookList[0]">
      <strong>No books were found yet.</strong> <br />
    </p>
    <div v-else id="books-con">
      <div class="container-fluid book-box book-load" />
      <div class="container-fluid book-box book-load" />
      <div class="container-fluid book-box book-load" />
    </div>

    <div class="floating-container">
      <img
        v-on:click="showAdd"
        class="floating-btn"
        title="Add Book"
        src="../../../assets/images/circle_plus_dark.png"
      />
    </div>

    <deleteFloat
      v-bind:selected="bookList[selected]"
      v-if="$store.getters.viewDel"
    />
    <addBooks
      v-bind:valIndex="bookList[selected]"
      v-bind:selected="selected"
      v-if="$store.getters.viewAdd"
    />
    <borrowBook
      v-bind:book="bookList[selected]"
      v-if="$store.getters.viewBorrow"
    />
    <returnBook
      v-bind:book="bookList[selected]"
      v-if="$store.getters.viewReturn"
    />
    <toast v-bind:message="showToast" v-show="showToast.errors" />
  </b-col>
</template>

<style lang="scss"></style>
