.book-load {
  background-color: rgb(238, 238, 238);
  height: 300px;
  width: 100%;
  border: none;
  animation: book-load-animate 1s infinite;
}

@keyframes book-load-animate {
  from {
    background-color: rgb(238, 238, 238);
  }
  to {
    background-color: rgb(219, 219, 219);
  }
}
