.remove-index {
  @include flexName(column, center, center, nowrap);
  background-color: white;
  border-radius: 4px;
  box-shadow: $shadow-box;
  font-family: $open-font;
  padding: 10px;
  p {
    font-size: 1rem;
  }
}

@keyframes removeIndex {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
