.loading-splash {
  background-color: rgb(238, 238, 238);
  height: 350px;
  width: 100%;
  box-shadow: $shadow-box;
  animation: loading-splash-animate 1s infinite;
}
@keyframes loading-splash-animate {
  from {
    background-color: rgb(238, 238, 238);
  }
  to {
    background-color: rgb(245, 245, 245);
  }
}
