<script>
export default {
  name: "addBooks",
  props: {
    valIndex: Object,
    selected: Number,
  },
  data() {
    return {
      books: {
        category_id: 1,
        name: "",
        author: "",
        copies: 0,
        showed: false,
      },
    };
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (!this.books.id) {
        this.$store.dispatch("books/addBook", this.books);
      } else {
        this.$store.dispatch("books/editBook", this.books);
      }
    },
  },
  created() {
    if (this.valIndex) {
      this.books = this.valIndex;
      this.books.category_id = this.valIndex.categories.id;
    }
  },
  beforeDestroy() {
    this.$store.commit("unSub");
  },
};
</script>

<template>
  <div class="black-out-show" id="add">
    <div class="add-something">
      <div class="add-header">
        <img
          v-on:click="$store.commit('showAdd')"
          src="../../assets/images/ex_red.png"
        />
        <p v-show="!books.id" class="add">Add a book</p>
        <p v-show="books.id" class="update">Update a Book</p>
      </div>
      <form v-on:submit="handleSubmit">
        <div class="form-group">
          <label for="name">Title</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Book Title"
            v-model="books.name"
            required
          />
          <label for="author">Author</label>
          <input
            type="text"
            class="form-control"
            id="author"
            placeholder="Author Name"
            v-model="books.author"
            required
          />
          <div class="form-v2">
            <div class="categ-con">
              <label for="category_id">Category</label>
              <select
                name="category_id"
                id="category_id"
                v-model="books.category_id"
                required
              >
                <option value="1">Science and Fiction</option>
                <option value="2">Novel</option>
                <option value="3">Educational</option>
                <option value="4">Crime</option>
                <option value="5">Biography</option>
              </select>
            </div>
            <div class="copy-con">
              <label for="copies">Copies</label>
              <input
                type="number"
                class="form-control"
                id="copies"
                v-model="books.copies"
                required
              />
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn-ok" type="submit">
            <em v-show="!books.id">Add</em>
            <em v-show="books.id">Update</em>
          </button>
          <button v-on:click="$store.commit('showAdd')" class="btn-cancel">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
