<script>
export default {
  name: "addPatrons",
  props: {
    showMore: Function,
    addIndex: Function,
    valIndex: Object,
    selected: Number,
  },
  data() {
    return {
      patron: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
    };
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (!this.patron.id) {
        this.$store.dispatch("patrons/addPatron", this.patron);
      } else {
        this.$store.dispatch("patrons/editPatron", this.patron);
      }
    },
  },
  created() {
    if (this.valIndex) return (this.patron = this.valIndex);
  },
  beforeDestroy() {
    this.$store.commit("unSub");
  },
};
</script>

<template>
  <div class="black-out-show" id="add">
    <div class="add-something">
      <div class="add-header">
        <img
          v-on:click="$store.commit('showAdd')"
          src="../../assets/images/ex_red.png"
        />
        <p v-show="!patron.id" class="add">Add a patron</p>
        <p v-show="patron.id" class="update">Update a patron</p>
      </div>
      <form v-on:submit="handleSubmit" >
        <div class="form-group">
          <label for="name">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            v-model="patron.first_name"
            required
          />
          <label for="name">Middle Name</label>
          <input
            type="text"
            class="form-control"
            id="middle_name"
            v-model="patron.middle_name"
            required
          />
          <label for="name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            v-model="patron.last_name"
            required
          />
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            v-model="patron.email"
            required
          />
        </div>
        <div class="btn-group">
          <button class="btn-ok" type="submit">
            <em v-show="patron.id">Update</em>
            <em v-show="!patron.id">Add</em>
          </button>
          <button v-on:click="$store.commit('showAdd')" class="btn-cancel">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
