<script>
export default {
  name: "borrowBook",
  props: {
    book: Object,
  },
  data() {
    return {
      patron_id: null,
      copies: 1,
    };
  },
  computed: {
    showPatrons() {
      return this.$store.getters["patrons/listPatrons"];
    },
  },
  methods: {
    showBorrow() {
      return this.$store.commit("showBorrow");
    },
    handleSubmit(e) {
      e.preventDefault();
      return this.$store.dispatch("addBorrow", {
        book_id: this.book.id,
        patron_id: this.patron_id,
        copies: this.copies,
      });
    },
    handleCopies(e) {
      this.copies = e.target.value;
    },
    handleId(e) {
      if (!e.target.value) return (this.patron_id = null);
      let selectedPatron = this.showPatrons.find(
        (index) => index.email === e.target.value
      );
      selectedPatron.id
        ? (this.patron_id = selectedPatron.id)
        : (this.patron_id = null);
    },
  },
  created() {
    return this.$store.dispatch("patrons/getPatrons");
  },
  beforeDestroy() {
    this.$store.commit("unSub");
  },
};
</script>
<template>
  <div class="black-out-show" id="add">
    <div class="add-something">
      <div class="add-header">
        <img v-on:click="showBorrow" src="../../assets/images/ex_red.png" />
        <p class="borrow-color">Borrow a Book</p>
      </div>
      <h3 class="borrow-bg">Book Selected</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Copies</th>
        </tr>
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.categories.category }}</td>
          <td>x{{ book.copies }}</td>
        </tr>
      </table>
      <form v-on:submit="handleSubmit">
        <div class="form-group">
          <div class="form-v2">
            <div class="copy-con">
              <label for="patrons">Select patron</label>
              <input
                id="patron_id"
                class="form-control select-patron borrow-bg"
                list="patrons"
                v-on:change="handleId"
                value="type your email"
              />
              <datalist id="patrons">
                <option
                  v-for="patron in showPatrons"
                  v-bind:key="patron.id"
                  v-bind:value="patron.email"
                >
                  {{ patron.email }}
                </option>
              </datalist>
            </div>
            <div class="copy-con">
              <label for="copies">Number of copies</label>
              <input
                type="number"
                class="form-control br-copy"
                id="copies"
                v-bind:value="copies"
                v-on:change="handleCopies"
              />
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn-ok" type="submit">
            <em>Borrow</em>
          </button>
          <button v-on:click="showBorrow" class="btn-cancel">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</template>