<script>
export default {
  name: "deleteFloat",
  props: {
    selected: Object,
  },
  methods: {
    handleSubmit() {
      if(this.selected.author){
        this.$store.dispatch('books/deleteBook', this.selected.id);
      }else {
        this.$store.dispatch('patrons/deletePatron', this.selected.id);
      }
      return this.$store.commit('showDel');
    },
  },
};
</script>

<template>
  <div class="black-out-show" id="black-out">
    <div class="remove-index">
      <p>Are you sure you want to remove this index?</p>
      <div class="btn-group">
        <button v-on:click="$store.commit('showDel')" class="btn-cancel">
          Cancel
        </button>
        <button v-on:click="handleSubmit" class="btn-ok">Ok</button>
      </div>
    </div>
  </div>
</template>
