<script>
export default {
  name: "returnBook",
  props: {
    book: Object,
  },
  data() {
    return {
      selectedPatron: { copies: 0, patron_id: null },
      returnCopies: 1,
    };
  },
  computed: {
    getPatrons() {
      return this.$store.getters.borrowedList(this.book.id);
    },
  },
  methods: {
    showReturn() {
      return this.$store.commit("showReturn");
    },
    handleCopies(e) {
      this.returnCopies = e.target.value;
    },
    handlePatron(e) {
      if (!e.target.value)
        return (this.selectedPatron = { copies: 0, patron_id: null });

      let selectedPatron = this.getPatrons.find(
        (patron) => patron.patrons[0].email === e.target.value
      );

      if (selectedPatron) return (this.selectedPatron = selectedPatron);
    },
    handleSubmit(e) {
      e.preventDefault();
      return this.$store.dispatch("returned/addReturn", {
        book_id: this.book.id,
        patron_id: this.selectedPatron.patron_id,
        copies: this.returnCopies,
      });
    },
  },
  created() {
    return this.$store.dispatch("getBorroweds");
  },
  beforeDestroy() {
    this.$store.commit("unSub");
  },
};
</script>
<template>
  <div class="black-out-show" id="add">
    <div class="add-something">
      <div class="add-header">
        <img v-on:click="showReturn" src="../../assets/images/ex_red.png" />
        <p class="return-color">Return a Book</p>
      </div>
      <h3 class="return-bg">Book Selected</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Copies borrowed</th>
        </tr>
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.categories.category }}</td>
          <td>x{{ selectedPatron.copies }}</td>
        </tr>
      </table>
      <form v-on:submit="handleSubmit">
        <div class="form-group">
          <div class="form-v2">
            <div class="copy-con">
              <label for="patrons">Who borrowed?</label>
              <input
                id="patron_id"
                class="form-control select-patron return-bg"
                list="patrons"
                v-on:change="handlePatron"
                value="type borrower's email"
              />
              <datalist id="patrons">
                <option
                  v-for="patron in getPatrons"
                  v-bind:key="patron.id"
                  v-bind:value="patron.patrons[0].email"
                >
                  {{ patron.patrons[0].email }}
                </option>
              </datalist>
            </div>
            <div class="copy-con">
              <label for="copies">Number to be return</label>
              <input
                type="number"
                class="form-control br-copy"
                id="copies"
                v-on:change="handleCopies"
                v-bind:value="this.returnCopies"
              />
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn-ok">
            <em>Return</em>
          </button>
          <button class="btn-cancel" v-on:click="showReturn">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</template>