<script>
export default {
  name: "toast",
  props: {
    message: Object,
  },
  computed: {
    showMessage() {
      let newMessage = this.message;
      return this.message.errors
        ? this.message.errors[
            Object.keys(this.message.errors).reduce((_, node) => node)
          ].toString()
        : newMessage.message;
    },
  },
};
</script>
<template>
  <div class="toast-container" v-bind:class="{ 'tc-error': message.errors }">
    {{ showMessage }}
  </div>
</template>
<style lang="scss"></style>
