<script>
export default {
  name: "menuLinks",
  props: {
    active: String,
    showMenu: Function,
  },
};
</script>

<template>
  <div class="black-out">
    <div class="showMenu" id="menu-links">
      <img
        v-on:click="showMenu()"
        class = "close"
        src="../../assets/images/ex_red.png"
      />
      <div class="menu-header">
        <p>Library <em>System</em></p>
      </div>
      <div
        v-on:click="showMenu()"
        class="menu-link"
        v-bind:class="{ 'active-link': active === 'dashboard' }"
      >
        <router-link to="/dashboard" class="menu-link"> Dashboard </router-link>
      </div>

      <div class="menu-link head-link">MANAGE</div>

      <div
        v-on:click="showMenu()"
        class="menu-link"
        v-bind:class="{ 'active-link': active === 'patrons' }"
      >
        <router-link to="/patrons" class="menu-link"> Patrons </router-link>
      </div>

      <div
        v-on:click="showMenu()"
        class="menu-link"
        v-bind:class="{ 'active-link': active === 'books' }"
      >
        <router-link to="/books" class="menu-link"> Books </router-link>
      </div>

      <div
        v-on:click="showMenu()"
        class="menu-link"
        v-bind:class="{ 'active-link': active === 'settings' }"
      >
        <router-link to="/settings" class="menu-link"> Settings </router-link>
      </div>
    </div>
  </div>
</template>
