<script>
export default {
  name: "navbar",
  props: {
    showMenu: Function,
  },
};
</script>

<template>
  <nav class="nav-bar">
    <img class="david-logo" src="../../assets/images/david.png" />
    <div class="menu-btn" v-on:click="showMenu()">
      <div class="menu-bars"></div>
      <div class="menu-bars"></div>
      <div class="menu-bars"></div>
    </div>
  </nav>
</template>

<style lang="scss"></style>
