<script>
export default {
  name: "sidenav",
  props: {
    active: String,
  },
};
</script>

<template>
  <div class="nav-con" id="navCon">
    <div class="menu-header">
      <p>Library <em>System</em></p>
    </div>
    <div class="menu-con menu-top">
      <router-link
        to="/dashboard"
        class="menu-item"
        v-bind:class="{ 'active-item': active === 'dashboard' }"
      >
        <div>
          <img class="menu-img" src="../../assets/images/pie_graph.png" />
          <a> Dashboard </a>
        </div>
        <img class="carret-img" src="../../assets/images/carret_right.png" />
      </router-link>
    </div>
    <div class="menu-con">
      <div class="menu-item head-item">MANAGE</div>
      <router-link
        to="/patrons"
        class="menu-item"
        v-bind:class="{ 'active-item': active === 'patrons' }"
      >
        <div>
          <img class="menu-img" src="../../assets/images/people.png" />
          <a> Patrons </a>
        </div>
        <img class="carret-img" src="../../assets/images/carret_right.png" />
      </router-link>
      <router-link
        to="/books"
        class="menu-item"
        v-bind:class="{ 'active-item': active === 'books' }"
      >
        <div>
          <img class="menu-img" src="../../assets/images/book.png" />
          <a> Books </a>
        </div>
        <img class="carret-img" src="../../assets/images/carret_right.png" />
      </router-link>
      <router-link
        to="/settings"
        class="menu-item"
        v-bind:class="{ 'active-item': active === 'settings' }"
      >
        <div>
          <img class="menu-img" src="../../assets/images/settings.png" />
          <a> Settings </a>
        </div>
        <img class="carret-img" src="../../assets/images/carret_right.png" />
      </router-link>
    </div>
  </div>
</template>

<style scoped></style>
