body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    overflow-x: hidden;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.212);
}
.navLogo {
    background-color: #FFCA18;
    padding: 30px 8px;
    border-radius: 100%;
    margin: 10px;
    color: #5E62D5;
    font-weight: bold;
}
.navLinks {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 7vw;
    font-size: 20px;

}
.navLinks>a {
    padding: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.696);
    font-family: sans-serif;
    cursor: pointer;
}
.navLinks>a:hover, .navLinks>a:focus {
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
}
.headSec {
    margin-top: 100px;
    margin-bottom: 5vh;
    background-color: #4078CE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}
.profImg {
    max-width: 50vw;
    height: auto;
}
.greet {
    font-size: 50px;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-weight: normal;
}
.tagline {
    font-family: 'Comic Sans MS';
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.graphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph1 {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}
.graph1>h2 {
    color: rgba(0, 0, 0, 0.696)
}

.graph2 {
    margin-bottom: 30px;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.graph2>h3 {
    align-self: center;
    color: rgba(0, 0, 0, 0.696)
}
.bars {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.bar1, .bar2, .bar3 {
    border-radius: 100px;
    padding: 12px 2px 12px 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 7px 6px  rgba(0, 0, 0, 0.397);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.397);
}
.bar1 {
    background-color: #FF8800;
    width: 300px;
}
.bar2 {
    background-color: #0B611F;
    width: 280px;
}
.bar3 {
    background-color: #FFD500;
    width: 200px;
}


.dProg {
    align-self: flex-start;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.progHead {
    width: 45vw;
    padding: 20px 0px 20px;
    background-color: #9194E2;
    font-family: 'Segoe UI';
    font-weight: normal;
    color: white;
    text-align: center;
    border-radius: 100px;
}
.test, .cover {
    width: 45vw;
    border-radius: 30px;
}
.test {
    margin-top: 20px;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.397);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.cover {
    height: 18vw;
    background-color: #32439A;
}
.profLetter {
    width: 180px;
    height: 180px;
    background-color:#FF8800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border-radius: 100%;
    margin-top: -20%;
    font-weight: bold;
    text-shadow: 6px 5px 3px rgba(0, 0, 0, 0.397);
    color: white;
}
.dProg>.test>h2 {
    font-size: 50px;
    color: #9194E2;
    margin: 0;
}
.dProg>.test>p {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.696);
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 40px;
}

.gallery {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery>.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.gallery>.right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.left>.imgCon {
    align-self: flex-start;
    width: 40vw;
    padding: 10px 10px 40px 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.212);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right>.imgCon {
    align-self: flex-end;
    width: 40vw;
    padding: 10px 10px 40px 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.212);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgGal {
    max-width: 99%;
    height: auto;
}
.left>.imgInfo {
    align-self: flex-end;
    width: 45vw;
    margin-top: 40px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.212);
    color: rgba(0, 0, 0, 0.696);
    padding: 10px 10px 10px 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.right>.imgInfo {
    align-self: flex-start;
    width: 45vw;
    margin-bottom: 40px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.212);
    color: rgba(0, 0, 0, 0.696);
    padding: 10px 10px 10px 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.imgInfo>p {
    font-size: 30px;
    font-weight: bold;
    text-align: start;
}
.imgInfo>a {
    cursor: pointer;
    align-self: center;
    color: #5E62D5;
    text-align: center;
    text-decoration: none;
}
.imgInfo>a:hover{
    color: #41449b;
    font-weight: bold;
}

.vButton {
    width: 95vw;
    font-size: 2rem;
    background-color: #FF8800;
    padding: 10px 0px 10px;
    align-self: center;
    text-align: center;
    color: white;
    border-radius: 100px;
    margin-bottom: 50px;
}
.vButton:hover {
    transform: scale(1.02);
}

.chest {
    margin-top: 10vw;
    padding: 20px;
    background-color: #FFCA18;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chest>p {
    color: white;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.212);
    font-size: 50px;
}
.chestImgs {
    display: flex;
    flex-direction: row;
}

.imgChest {
    max-width: 50vw;
    height: auto;
}
.imgBat {
    position: absolute;
    margin-left: 18%;
    max-width: 20vw;
    height: auto;
}
.imgKnife {
    position: absolute;
    margin-left: 33%;
    margin-top: -23%;
    max-width: 45vw;
    height: auto;
}
.imgKeys {
    position: absolute;
    margin-left: 45%;
    margin-top: 0%;
    max-width: 50vw;
    height: auto;
}


.footer {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.952);
    text-align: center;
}
.footer>h2 {
    font-weight: normal;
    color: white;
    margin: 12px
}








@media(min-width: 780px) {
    .profImg {
        max-width: 400px;
        height: auto;
    }
}
@media(max-width: 769px) {
    .imgCon {
        width: 90vw;
    }
    .profImg {
        max-width: 100%;
        height: auto;
    }
    .tagline{
        font-size: 20px;
    }
    .test {
        border-radius: 20px;
        width: 90vw;
    }
    .cover {
        border-radius: 20px;
        width: 90vw;
        height: 20vh;
    }
    .progHead {
        width: 90vw;
    }
    .dProg>.test>h2 {
        font-size: 30px;
    }
    .left>.imgCon, .right>.imgCon {
        width: 90vw;
        align-self: center;
    }
    .left>.imgInfo, .right>.imgInfo {
        width: 90vw;
        margin-top: 30px;
        margin-bottom: 50px;
        
    }
    .gallery>.right {
        flex-direction: column;
        
    }
    .gallery {
        margin-bottom: 10px;

    } 
    .chest>p {
        font-size: 1rem;
    }
    .footer {
        padding: 5px;
    }
    
}
@media(max-width: 350px){
    .bar1 {
        width: 80vw;
    }
    .bar2 {
        width: 70vw;
    }
    .bar3 {
        width: 40vw;
    }
    .dProg>.test>p {
        font-size: 20px;
        margin: 5px;
    }
}
@media(max-width: 360px) {
    .navLinks {
        padding: 5px;
        font-size: 15px;
    }
    .profLetter{
        width: 80px;
        height: 80px;
        font-size: 50px;
    }
}

