.black-out-show {
  @include flexName(row, center, center, nowrap);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.black-out-hide {
  display: none;
}
