.add-something {
  @include flexName(column, center, center, nowrap);
  background-color: white;
  border-radius: 4px;
  box-shadow: $shadow-box;
  font-family: $open-font;
  padding: 10px;
  margin: 10px 0px 10px;
  animation-name: removeIndex;
  animation-duration: 200ms;
  .add-header {
    align-self: stretch;
    @include flexName(column, center, center, wrap);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding-left: 20px;
    img {
      align-self: flex-end;
      max-width: 35px;
      height: auto;
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.2);
    }
    p {
      align-self: flex-start;
      color: #d8610b;
      font-size: 25px;
      font-style: oblique;
    }
    .borrow-color {
      color: #00889a;
    }
    .return-color {
      color: #d8610b;
    }
    .update {
      color: #4593ef;
    }
    .add {
      color: #373737;
    }
  }
  h3 {
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
  }
  .borrow-bg {
    background-color: #00889a;
  }
  .return-bg {
    background-color: #d8610b;
  }
  table {
    border: 2px solid rgba(0, 0, 0, 0.6);
    padding: 4px;
    margin: -6px 0px 0px;
    width: 100%;
    font-family: $roboto-font;
    font-size: 0.9rem;
    tr {
      border-bottom: 2px solid rgba(0, 0, 0, 0.6);
      th {
        padding: 10px 6px 6px;
        text-align: center;
        font-weight: bold;
        border-left: 2px solid rgba(0, 0, 0, 0.6);
      }
      td {
        padding: 10px 6px 12px;
        text-align: center;
        border-left: 2px solid rgba(0, 0, 0, 0.6);
      }
    }
  }
  form {
    padding: 10px;
    font-family: $roboto-font;
    @include flexName(column, stretch, stretch, wrap);
    label {
      font-size: 0.9rem;
      margin-top: 10px;
    }
    .form-control {
      font-size: 1rem;
      border-radius: 12px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      padding-left: 20px;
    }
    .form-v2 {
      align-self: stretch;
      @include flexName(row, stretch, center, wrap);
      .copy-con {
        margin: 5px;
      }
      .select-patron {
        border-radius: 4px;
        color: white;
        font-size: 15px;
      }
      .borrow-bg {
        background-color: #00889a;
      }
      .return-bg {
        background-color: #d8610b;
      }
      .br-copy {
        border-radius: 4px;
      }
      .categ-con {
        select {
          font-size: 15px;
          color: rgba(0, 0, 0, 0.8);
          width: 90%;
        }
      }
    }
    .btn-group {
      @include flexName(row-reverse, stretch, center, nowrap);
      margin: 0px 5px 0px 5px;
      align-self: flex-end;
    }
  }
}
