@import "./sub/category";
@import "./sub/patronLoad";
@import "./sub/notFound";

.main-con-p {
  @include flexName(column, flex-start, flex-start, nowrap);
  font-family: $roboto-font;
  margin-top: 100px;
  .con-header {
    color: #373737;
    h4 {
      letter-spacing: 5px;
    }
  }
  .patron-con {
    @include flexName(column, flex-start, center, nowrap);
    width: 100%;
    table {
      width: 100%;
      text-align: center;
      color: #373737;
      margin-top: 25px;
      thead {
        background-color: #e5e5e5;
        border: 1px solid #373737;
        font-size: 18px;
        td {
          padding: 3px 2px 3px 2px;
          border: 1px solid #373737;
        }
      }
      tbody {
        font-size: 15px;
        border: 1px solid #373737;
        tr {
          border: 1px solid #373737;
          td {
            padding: 3px 2px 3px 2px;
            border: 1px solid #373737;
          }
          .td-actions {
            border: none;
            @include flexName(row, space-evenly, center, wrap);
            img {
              width: 30px;
              height: auto;
              margin: 5px 0px 5px;
              border-radius: 100%;
              cursor: pointer;
            }
            .smaller {
              width: 35px;
              border-radius: 100%;
            }
            img:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .main-con-p {
    .patron-con {
      table {
        thead {
          font-size: 12px;
        }
        tbody {
          font-size: 10px;
        }
      }
    }
  }
}
