<script>
import bar from "./charts/bar";
import pie from "./charts/pie";
export default {
  name: "dashboard",
  components: {
    bar,
    pie,
  },
  props: {
    turnActive: Function,
  },
  computed: {
    getFlag() {
      return this.$store.getters["graphs/getFlag"];
    },
    getDataBorrowed() {
      return this.$store.getters["graphs/showDataBorrowed"];
    },
    getLabelsBorrowed() {
      return this.$store.getters["graphs/showLabelsBorrowed"];
    },
    getAll() {
      return this.$store.getters["graphs/showAll"];
    },
    getDataReturned() {
      return this.$store.getters["graphs/showDataReturned"];
    },
  },
  methods: {
    getTruthy(arr) {
      const notZero = Math.max(...arr);
      return notZero !== 0;
    },
  },
  created() {
    document.title = "Dashboard";
    this.turnActive("dashboard");
    this.$store.dispatch("graphs/getAll");
  },
};
</script>

<template>
  <b-col sm="9" class="main-con-d">
    <div class="con-header">
      <h4>DASHBOARD</h4>
    </div>
    <p
      class="not-found"
      v-if="
        getFlag && (!getTruthy(getDataBorrowed) && !getTruthy(getDataReturned))
      "
    >
      <strong>No borrowed and returned books found.</strong> <br />
      Don't worry, someone will borrow soon :)
    </p>
    <div class="chart-main-con">
      <div class="chart-con">
        <bar
          v-if="getFlag && getTruthy(getDataBorrowed)"
          v-bind:borrowed="getDataBorrowed"
          v-bind:returned="getDataReturned"
        />
        <div class="loading-splash" v-else-if="!getFlag"></div>
      </div>
      <div class="chart-con">
        <pie
          v-if="getFlag && getTruthy(getAll)"
          v-bind:data="getAll"
          v-bind:labels="getLabelsBorrowed"
        />
        <div class="loading-splash" v-else-if="!getFlag"></div>
      </div>
    </div>
  </b-col>
</template>

<style lang="scss">
</style>