.nav-con {
  @include flexName(column, flex-start, stretch, nowrap);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 25%;
  background-color: #373737;
  z-index: 1;
  color: white;
  .menu-header {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    margin: 25px 0px 15px;
    border-bottom: 1px solid white;
    em {
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
    }
  }
  .menu-con {
    @include flexName(column, flex-start, stretch, nowrap);
    .menu-item {
      @include flexName(row, space-between, center, nowrap);
      @include menuItem();
      text-align: left;
    }
    .active-item {
      @include flexName(row, space-between, center, nowrap);
      @include activeItem();
    }
    .head-item {
      @include flexName(row, space-between, center, nowrap);
      @include headItem();
    }
  }
}

@media (max-width: 575px) {
  .nav-con {
    display: none;
  }
}

@media (max-width: 760px) {
  .nav-con {
    .menu-header {
      font-size: 18px;
      em {
        font-size: 12px;
      }
    }
    .menu-con {
      .menu-item {
        font-size: 12px;
      }
    }
  }
}
