.black-out {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    .showMenu {
      @include flexName(column, stretch, center, nowrap);
      width: 230px;
      height: 100vh;
      animation-name: show;
      animation-duration: 160ms;
      animation-timing-function: ease-in-out;
      background-color: #373737;
      color: white;
      padding: 20px;
      .close {
        align-self: flex-end;
        width: 25px;
        height: auto;
        border-radius: 100%;
        cursor: pointer;
      }
      .menu-header {
        align-self: center;
        font-size: 30px;
        font-weight: bold;
        margin: 25px 0px 15px;
        border-bottom: 1px solid white;
        em {
          font-size: 18px;
          font-style: normal;
          font-weight: normal;
        }
      }
      .menu-link {
        @include menuItem();
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
      }
      .head-link {
        @include headItem();
        text-align: center;
        color: white;
        letter-spacing: 5px;
        font-size: 18px;
      }
      .active-link {
        @include activeItem();
        text-align: center;
      }
    }
  }
  
  @keyframes show {
    from {
      margin-left: -300px;
    }
    to {
      margin-left: 0px;
    }
  }
  
  @media (min-width: 575px) {
    .menu-btn {
      display: none;
    }
    .black-out {
      display: none;
    }
  }
  