@import "./sub/menuButton";

.nav-bar {
  @include flexName(row-reverse, space-between, center, nowrap);
  background-color: #f0f0f0;
  width: 100vw;
  position: fixed;
  top: 0;
  .david-logo {
    height: 50px;
    margin: 6px;
    width: 50px;
  }
}
