.floating-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  @include flexName(row, flex-end, center, nowrap);
  .floating-btn {
    border-radius: 100%;
    width: 50px;
    height: auto;
    cursor: pointer;
    margin: 0px 2px 0px 2px;
  }
}

.floating-btn:hover {
  transform: scale(1.02);
}
