<script>
import addPatrons from "../../floaters/addPatrons";
import deleteFloat from "../../floaters/deleteFloat";
import toast from "../../floaters/toast";
export default {
  name: "patrons",
  components: {
    addPatrons,
    deleteFloat,
    toast,
  },
  props: {
    turnActive: Function,
  },
  data() {
    return {
      selected: 0,
    };
  },
  computed: {
    patronList() {
      return JSON.parse(
        JSON.stringify(this.$store.getters["patrons/listPatrons"])
      );
    },
    showToast() {
      return this.$store.getters["patrons/showToast"];
    },
  },
  methods: {
    showMore(index) {
      this.selected = index;
    },
    showAdd() {
      this.selected = -1;
      return this.$store.commit("showAdd");
    },
    showUpdate(index) {
      this.selected = index;
      this.$store.commit("showAdd");
    },
    showDel(index) {
      this.selected = index;
      return this.$store.commit("showDel");
    },
    modifyName(first, last, mid) {
      const upperCase = (name) =>
        name.replace(/^[a-z]/, (char) => char.toUpperCase());
      return `${upperCase(last)}, ${upperCase(first)} ${upperCase(mid[0])}.`;
    },
  },
  created() {
    document.title = "Patrons";
    this.turnActive("patrons");
  },
  mounted() {
    this.$store.dispatch("patrons/getPatrons");
  },
  beforeDestroy() {
    this.$store.commit("unSub");
  },
};
</script>

<template>
  <b-col sm="9" class="main-con-p">
    <div class="con-header">
      <h4>PATRONS</h4>
    </div>
    <div class="sort-con">
      <select name="categories" class="sort-btn" id="categories">
        <option value="Novel">Alphabetical (Asc)</option>
        <option value="Education">Alphabetical (Desc)</option>
        <option value="Biography">Z-A</option>
      </select>
    </div>
    <div v-if="patronList[0]" class="patron-con" id="patronCon">
      <table>
        <thead>
          <td>No.</td>
          <td>Name</td>
          <td>Email</td>
          <td>Actions</td>
        </thead>
        <tbody>
          <tr v-for="(patron, index) in patronList" v-bind:key="index">
            <td>{{ `${index + 1}` }}</td>
            <td>
              {{
                modifyName(
                  patron.first_name,
                  patron.last_name,
                  patron.middle_name
                )
              }}
            </td>
            <td>{{ patron.email }}</td>
            <td class="td-actions">
              <img
                v-on:click="showUpdate(index)"
                title="Edit"
                src="../../../assets/images/pencil_blue.png"
              />
              <img
                class="smaller"
                v-on:click="
                  selected = index;
                  showDel(index);
                "
                title="Delete"
                src="../../../assets/images/trash_peach.png"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="not-found" v-else-if="!patronList[0]">
      <strong>No patrons were found yet.</strong> <br />
    </p>
    <div v-else class="patron-con">
      <div class="container-fluid user-box patron-load" />
      <div class="container-fluid user-box patron-load" />
      <div class="container-fluid user-box patron-load" />
    </div>
    <div class="floating-container">
      <img
        v-on:click="showAdd"
        class="floating-btn"
        title="Add Patron"
        src="../../../assets/images/circle_plus_dark.png"
      />
    </div>
    <deleteFloat
      v-bind:selected="patronList[selected]"
      v-if="this.$store.getters.viewDel"
    />
    <addPatrons
      v-bind:valIndex="patronList[selected]"
      v-bind:selected="selected"
      v-if="this.$store.getters.viewAdd"
    />
    <toast v-bind:message="showToast" v-if="showToast.errors" />
  </b-col>
</template>

<style lang="scss"></style>
