<script>
export default {
  name: "settings",
  props: {
    turnActive: Function,
  },
  created() {
    document.title = "Settings";
    this.turnActive("settings");
  },
};
</script>

<template>
  <b-col sm="9" class="main-con-p">
    <div class="con-header">
      <h4>SETTINGS</h4>
    </div>
  </b-col>
</template>

<style lang="scss">
</style>