<script>
import { Bar } from "vue-chartjs";
import { options, data } from "../../../../assets/js/charts/bar";
export default {
  extends: Bar,
  props: {
    borrowed: Array,
    returned: Array
  },
  mounted() {
    this.renderChart(data(this.borrowed, this.returned), options);
  },
};
</script>

<style>
</style>