<script>
import { Pie } from "vue-chartjs";
import { options, data } from "../../../../assets/js/charts/pie";
export default {
  extends: Pie,
  props: {
    data: Array,
    labels: Array
  },
  methods: {
    showChart() {
      return this.renderChart(data(this.data, this.labels), options);
    }
  },
  mounted() {
    this.showChart();
  }
};
</script>

<style>
</style>