@import "./vars";

@import "./navigations/sidenav/sidenav";
@import "./navigations/sidenav/sidenav2";
@import "./navigations/navbar/navbar";

@import "./books_styles/books";
@import "./patrons_styles/patrons";
@import "./dashboard_styles/dashboard";

@import "./floaters/mutations/mutations";
@import "./floaters/buttons/floatingButtons";
@import "./floaters/toast/toast";
@import "./floaters/blackout/blackout";
@import "./floaters/remove/removeIndex";

@import "./buttons/buttons";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
