@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@mixin flexName($dir, $just, $align, $wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin menuItem {
  cursor: pointer;
  color: white;
  font-family: $roboto-font;
  font-size: 15px;
  padding: 7px;
  margin: 10px 0px 10px 0px;
  .menu-img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  .carret-img {
    height: 24px;
    width: 24px;
  }
}
@mixin headItem {
  font-size: 18px;
  color: white;
  border-bottom: 1px solid white;
}

@mixin activeItem {
  background-color: #585858;
  border-radius: 4px;
  color: white;
  width: 100%;
}

$main-color: #d8610b;
$dark-orange: #a54601;
$roboto-font: "Roboto", sans-serif;
$open-font: "Open Sans", sans-serif;
$shadow-text: 0px 4px 4px rgba(0, 0, 0, 0.2);
$shadow-box: 0px 2px 4px rgba(0, 0, 0, 0.2);
