@import "./sub/dbLoad";
@import "./sub/notFound";

.main-con-d {
  margin-top: 100px;
  .con-header {
    color: #373737;
    h4 {
      letter-spacing: 5px;
    }
  }
  .chart-main-con {
    @include flexName(row, space-between, center, wrap);
    .chart-con {
      padding: 12px;
      width: 50%;
      height: auto;
    }
  }
}

@media (max-width: 800px) {
  .main-con {
    .chart-main-con {
      .chart-con {
        width: 95%;
      }
    }
  }
}

@media (max-width: 350px) {
  .main-con {
    .chart-main-con {
      .chart-con {
        width: 100%;
      }
    }
  }
}
