.toast-container {
  @include flexName(row, center, center, nowrap);
  width: 100%;
  background-color: rgb(35, 141, 40);
  position: fixed;
  color: white;
  z-index: 2;
  bottom: 0px;
  right: 0px;
  padding: 2px;
  font-size: 15px;
  font-family: $roboto-font;
}
.tc-error {
  background-color: rgb(141, 35, 35);
}
