.menu-btn {
  cursor: pointer;
  justify-self: end;
  margin-left: 10px;
  width: 50px;
  .menu-bars {
    border-radius: 50px;
    background-color: #373737;
    height: 10px;
    margin: 3px;
    width: 90%;
  }
}

.menu-btn:hover{
    transform: scale(1.05);
}
