.patron-load {
  background-color: rgb(238, 238, 238);
  height: 200px;
  border: none;
  animation: patron-load-animate 1s infinite;
}

@keyframes patron-load-animate {
  from {
    background-color: rgb(238, 238, 238);
  }
  to {
    background-color: rgb(219, 219, 219);
  }
}
